<h2>Edit Event</h2>
<<<<<<< HEAD

<%= form_for(resource, as: resource_name, url: past_events_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.title_field :title, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.date_field :time %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.description_field :description, autofocus: true %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save Edit" %>
  </div>  
  
  
  <p>Delete Event <%= button_to "Delete Event", past_events_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
=======
<%= form_for @past_event do |f| %>
    Title: <%= f.text_area :title, value: @past_event.title %>
    Description: <%= f.text_area :description, value: @past_event.description, size: "60x12" %>
    Date and Time: <%= f.text_area :date_and_time, value: @past_event.date_and_time, placeholder: "DD/MM/YYYY HH:MM AM/PM" %>
    <div style="display:inline-flex;">
      <%= f.submit "Update Event", class: "btn waves-effect waves-light"%>
      <%= link_to "Cancel", past_events_path, class: "btn waves-effect waves-light", style:"margin-left:1em;" %>
      <%= link_to "Delete", @past_event, method: :delete, class: "btn waves-effect waves-light danger", style:"margin-left:1em;"%>
    </div>
<% end %>
>>>>>>> Iter3Staging
