<h2>Add Past Event</h2>

<%= form_for @past_event do |f| %>
  Title: <%= f.text_field :title %>
  Description: <%= f.text_area :description, size: "60x12" %>
  Date and Time: <%= f.datetime_local_field :date_and_time %>
  <%= f.submit "Create" %>

<% end %>

