<nav>
  <div class="nav-wrapper">
    <%= link_to 'Datong', root_path, class: 'brand-logo' %>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="mobile-menu" class="side-nav">
      <li><%= link_to 'About Us', about_us_path %></li>
      <li><%= link_to 'People', core_members_index_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to 'Resources', resources_path %></li>
      <% end %>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Contact', contact_us_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <li><div class="navbar-non-link">Logged in as <strong><%= current_user.email %></strong>.</div></li>
      <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
