<head>  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<ul id="account_dropdown" class="dropdown-content">
  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>
<ul id="people_dropdown" class="dropdown-content">
  <li><%= link_to 'Core Members', core_members_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Edit Core Members", edit_multiple_core_members_path  %></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <%= link_to 'Datong', root_path, class: 'brand-logo' %>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="mobile-menu" class="side-nav">
      <li><%= link_to 'About Us', about_us_path %></li>
      <% if user_signed_in? and current_user.is_account_admin %>
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="people_dropdown">People</a></li>
      <% else %>
        <li><%= link_to 'People', core_members_index_path %></li>
      <% end %>
      <% if user_signed_in? %>
          <li><%= link_to 'Resources', resources_path %></li>
      <% end %>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Contact', contact_us_path %></li>
      <% if user_signed_in? %>
          <li><a class="dropdown-button" data-beloworigin="true" data-activates="account_dropdown">Hello, <strong><%=current_user.fname%><i class="material-icons right">arrow_drop_down</i></strong></a></li>
      <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
