<nav id="nav-bar">

  <div class="nav-wrapper">
    <%= link_to 'Datong', root_path, class: 'brand-logo' %>
    <div><a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a></div>
    <div class="nav-pages">
      <ul id="mobile-menu" class="side-nav">
        <li><%= link_to 'About Us', about_us_path %></li>
        <li><%= link_to 'Contact', contact_us_path %></li>
        <li><%= link_to 'People', core_members_index_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Resources', resources_path %></li>
        <% end %>
        <li><%= link_to 'Events', events_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <li><div class="navbar-non-link">Hello <strong><%=current_user.fname%></strong></div></li>
            <image src=<%=current_user.img_url%> width="60", height="60"></image>
        <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="vertical-center"><center><h1 style="margin-top: 0px"> 大同学社</h1><h1> Da-Tong Society of China Studies</h1></center></div>
</nav>
